* {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    margin: 0 auto;
}

header {
    display: block;
    background-color: rgb(156, 156, 255);
    height: 100px;
    padding: 15px;
    box-shadow: 0px 15px 40px 10px rgb(96, 96, 96);
    color: white;
    
}
footer {
    margin: -10px;
    margin-top: 400px;
    height: 150px;
    padding: 20px;
    text-align: center;
    background-color: rgb(156, 156, 255);
    box-shadow: 0px -2px 15px 2px rgb(74, 74, 116);
}

#container{
    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 70px;
}

#mainContainer{
    display: flex;
    height: 500px;
}
    
#menu{
    display: inline;
    margin: 5px;
    width: 78%;  
}    

#menu h2{
    border-radius: 30px;
    background-color: rgb(156, 156, 255);
    padding: 25px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.menuitem {
    display: block ;
    text-align: center;
    background-color: rgb(156, 156, 255);
    border-radius: 30px 30px 0px 0px;
    padding: 10px;
    width: 352px;
    transition:background-color 0.5s;
}


.menuitem:hover{
    border-width: 2px;
    padding: 8px;
    border-style: solid;
    border-color: rgb(156, 156, 255);
    border-bottom-color: white;
    color: rgb(156, 156, 255);
    background-color: white;
}



.offers{
    display: none;
    top: 100%;
    left: 0;
    position: absolute;
}
.tabbed{
    
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    
}

.tab:hover  div{
   
    display: flex;
    flex-wrap: wrap;
}



table, th, td{
    padding: 4px;
    width:300px;
    font-size: 12px;
    text-align: left;
}

th, td{
    margin: 3px;
    background-color: rgb(182, 182, 250) ;
}

#ordered{
    margin: 5px;
    text-align: center;
    width: 22%;
    background-color: white;
    padding: 10px;
    color:black;
    border-radius: 10px;
    box-shadow: 0px 5px 5px 5px rgb(96, 96, 96);
}
#ordered h2, h4{
    padding: 10px
}


form .input {
    display: flex;
    flex-direction: column; 
    width: 180px;
    margin-bottom: 5px;
}

.formItem{
    display: flex;
    margin: 0px;
    padding: 10px;
    width: 352px;
}

form input[type=button],
input[type=reset] {
    display: block;
    border-radius: 30px;
    background-color: white;
    border: 0px;
}

form label {
    margin: 0px;
    display: block;
    font-weight: bolder;
    color:black;
    font-size: 14px;
}



.formItem img {
    width: 150px;
    height: 75px;
    border-radius: 10px;
    margin: 5px;
}

.formItem input[type=button] {
    margin: 10px;
    margin-left: -2px;
    width: 80px;
    background-color: rgb(254, 193, 128);
}
.formItem input[type=number]{
    margin: 0;
    width: 170px;
}

#designPG {
    display:flex;
    margin: 20px;
    background-color: rgb(237, 237, 237);
    border-radius: 30px;
    padding: 20px;
}